<!DOCTYPE html>
<html lang="en">
  <head>
    <%= partial "includes/layout/head" %>
    <%= stylesheet_link_tag "handbook" %>
    <%= stylesheet_link_tag "navigation-helpers" %>
  </head>
  <body data-spy="scroll" data-target=".qnav">
    <%= partial "includes/google/gtm" %>
    <%= partial "includes/layout/header" %>
    <%= partial "includes/layout/headline" %>
    <div class="wrapper sidebar-layout-wrapper clearfix">
      <aside class="tocs-sidebar">
        <%= partial "includes/layout/codeowners.html.haml" %>
      </aside>
      <div class="<%= (current_page.data.page_class if current_page.data.page_class) %> container md-page">
        <ol class="breadcrumb">
          <li>You are here:</li>
          <%= breadcrumbs(current_page) %>
        </ol>
        <div class="hidden-md hidden-lg">
          <%= partial "includes/layout/codeowners.html.haml" %>
        </div>
        <%= yield %>
        <div class="content-container text-center" style="border-top: 1px solid #d7d7d7; color: #777; margin-top: 70px;">
          <p>
            If you feel there are inaccurate statements in this comparison or a tool missing, please edit this page
            or propose edits by 
            <a href="https://gitlab.com/gitlab-com/www-gitlab-com/-/blob/master/incoming+gitlab-com-marketing-product-marketing-7424125-issue-@incoming.gitlab.com">opening an issue. </a>
            You can also send an email to 
            <a href="mailto:devopstools@gitlab.com?subject=Suggested edit https://about.gitlab.com/devops-tools/">devopstools@gitlab.com </a>
            with your suggested edits if you're unable to open an issue or edit this page.     
          </p>
        </div>
      </div>
    </div>
    <%= partial "includes/layout/footer" %>
    <%= javascript_include_tag "generate-navigation-helpers.js", "data-cookieconsent": "ignore" %>
  </body>
</html>
