---
layout: default
title: Contact Sales
description: "Find answers to frequently asks questions or contact our sales team."
canonical_path: "/sales/"
suppress_header: true
extra_css:
  - sales-and-free-trial-common.css
  - faq.css
extra_js:
  - faq.js

---

.blank-header
  .header-content
    = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab icon pattern left svg"
    = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab icon pattern right svg"
    %h1 Contact Sales
    %p
      If your question isn't answered in the
      = link_to "FAQ", "#faq"
      below, please contact our sales team
      and someone will get back to you within one business day.
      If you need technical help, visit our
      %a{href: "https://support.gitlab.com/"} support
      page.

.gitlab-content-container
  .content.text-center
    %p.text-center &nbsp;

    %script{src: "//page.gitlab.com/js/forms2/js/forms2.min.js"}
    %form#mktoForm_1415
    :javascript
      MktoForms2.setOptions(
      {
        formXDPath : "/rs/194-VVC-221/images/marketo-xdframe-relative.html"
      });
      MktoForms2.loadForm("//page.gitlab.com", "194-VVC-221", 1415, function(form) {
        //
        if(typeof(Demandbase) === "object"){
          Demandbase.utils.loadFormModule();
        };
        //
        form.onSuccess(function() {

          dataLayer.push(
          {
            'event' : 'sales', 
            'mktoFormId' : form.getId(),
            'eventCallback' : function()
            {
              form.getFormElem().hide();
              $('.confirmform').attr('style', 'visibility: visible');
            }, 'eventTimeout' : 3000
          });

          return false;
        });
      });
    .confirmform{style: "display:none;"}
      %h3 Submission received!
      %p We'll be in contact shortly.

.content-container.animated
  .container#faq
    %h2.faq-title.light.text-center
      Frequently Asked Questions
    .faq-holder.clearfix
      - questions = data.sales_faq.questions
      - size = (questions.size / Float(2)).ceil
      - questions.each_slice(size).to_a.each do |group|
        = partial "includes/layout/question_group", locals: { group: group }

= partial "includes/home/customer-logos-transparent"
